.aims {
  background: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  padding-top: 7%;
  padding-bottom: 10%;
  position: relative;
  margin: 7% 70px 0 70px;
  width: calc(100% - 140px); }
  .aims .list {
    margin-top: 7%; }
    .aims .list .item {
      font-weight: bold;
      font-size: 1.2vw;
      margin: 1.5% 0; }
      @media (max-width: 900px) {
        .aims .list .item {
          font-size: 18px; } }
      .aims .list .item .bullit {
        filter: drop-shadow(0 7px 7px rgba(0, 0, 0, 0.2));
        padding: 0 30px; }
