.awards {
  position: relative;
  background: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  padding-top: 7%;
  padding-bottom: 7%;
  width: calc(100% - 140px);
  margin-top: 100vh; }
  .awards .list {
    margin-top: 10%;
    padding: 0; }
    .awards .list .item .icon {
      border-radius: 50%;
      width: 5vw;
      height: 5vw;
      min-width: 50px;
      min-height: 50px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      text-align: center;
      background: white;
      transition: all 0.3s; }
    .awards .list .item img {
      transition: all 0.3s;
      height: 80%;
      padding-top: 20%; }
    .awards .list .item:hover .icon {
      background: #FF006D;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); }
      .awards .list .item:hover .icon img {
        filter: brightness(10); }
    .awards .list .item .description {
      margin-top: 15%;
      width: 80%; }
