.header {
  background: #F2F5FA url("/images/bg_people.png") no-repeat bottom right 10%;
  background-size: 45%;
  margin: 30px;
  width: calc(100% - 60px);
  height: 100vh;
  position: relative;
  min-height: 650px; }
  .header .logo {
    background: url("/images/logo.svg") no-repeat center;
    background-size: contain;
    height: 100px; }
  .header .contacts {
    text-align: right;
    padding-top: 20px; }
    .header .contacts .phone {
      display: inline-block;
      font-size: 1.8vw;
      font-weight: bold;
      padding-right: 10px; }
    .header .contacts .social-icon {
      height: 30px;
      margin: 0 5px;
      position: relative;
      top: -4px; }
  .header .menu .button {
    width: 70px;
    max-width: 150%;
    cursor: pointer; }
  .header .promo {
    position: absolute;
    top: 30%;
    left: 6%; }
    .header .promo .subject,
    .header .promo .title {
      font-style: italic; }
    .header .promo .subject,
    .header .promo .description {
      font-size: 1.7vw;
      font-weight: 500; }
    .header .promo .title {
      text-transform: uppercase;
      font-size: 3.4vw;
      font-weight: bold; }
      .header .promo .title .pink {
        color: #FF006D; }
    .header .promo .buttons-container {
      margin-top: 20%; }
      .header .promo .buttons-container .arrow {
        margin: 0 15px 0 30px; }
