.next-courses {
  background: #F2F5FA;
  padding: 9% 9% 0; }
  .next-courses .courses {
    margin-top: 10%; }
    .next-courses .courses .item {
      background: white;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      padding-bottom: 15px;
      margin: 0 1% 10% 1%;
      flex: 0 0 31%; }
      .next-courses .courses .item .preview {
        height: 20vw;
        background: teal;
        position: relative;
        top: -30px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
      .next-courses .courses .item .date,
      .next-courses .courses .item .title {
        font-weight: bold;
        font-size: 1.7vw; }
      .next-courses .courses .item .date {
        color: #FF006D; }
      .next-courses .courses .item .more-button {
        text-align: right;
        font-style: italic;
        font-weight: 500;
        transition: color 0.2s;
        cursor: pointer; }
        .next-courses .courses .item .more-button:hover {
          color: #FF006D; }
        .next-courses .courses .item .more-button .arrow {
          font-size: 30px;
          font-style: normal;
          padding-left: 30px; }
