.next-courses {
  position: relative;
  top: -60px;
  background: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  padding: 7%; }
  .next-courses .list {
    margin-top: 10%; }
    .next-courses .list .icon {
      border-radius: 50%;
      width: 5vw;
      height: 5vw;
      padding-top: 12px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      text-align: center;
      background: white;
      transition: all 0.3s; }
      .next-courses .list .icon:hover {
        background: #FF006D;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); }
        .next-courses .list .icon:hover img {
          filter: brightness(10); }
    .next-courses .list .description {
      margin-top: 15%;
      width: 80%; }
