.trainers {
  padding-top: 7%; }
  .trainers .list-container {
    width: 90%;
    margin-bottom: 7%;
    margin-top: 3%;
    height: 400px; }
    .trainers .list-container .list {
      overflow: hidden;
      white-space: nowrap; }
      .trainers .list-container .list .item {
        height: 370px;
        background: #afafbb;
        overflow: hidden;
        margin: 15px;
        display: inline-flex;
        white-space: nowrap;
        position: relative; }
        .trainers .list-container .list .item:hover .details {
          width: 400px; }
        .trainers .list-container .list .item .pic {
          width: 30px;
          height: 370px;
          background-image: url("https://static1.squarespace.com/static/52dbd732e4b0ce276348c412/58eb6a511e5b6c098b91fd56/56a7de7eb2094382065948b0/1453842048003/SAMPLE_DSC_7185-771_v.1.00.jpg?format=750w");
          background-position: center;
          background-size: cover;
          cursor: pointer; }
          .trainers .list-container .list .item .pic .info {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            padding: 30px 15px 15px;
            background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
            background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%);
            background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 100%); }
            .trainers .list-container .list .item .pic .info p {
              padding: 0;
              margin: 0; }
            .trainers .list-container .list .item .pic .info .name {
              font-weight: bold;
              font-size: 22px; }
            .trainers .list-container .list .item .pic .info .status {
              font-size: 12px; }
        .trainers .list-container .list .item .details {
          height: 370px;
          width: 0;
          background: #06112F;
          color: white;
          white-space: normal;
          padding-top: 15px;
          position: relative;
          overflow: hidden;
          transition: width 1s; }
          .trainers .list-container .list .item .details p {
            width: 350px;
            margin-left: 25px; }
          .trainers .list-container .list .item .details .name {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 5px; }
          .trainers .list-container .list .item .details .status,
          .trainers .list-container .list .item .details .description {
            font-size: 14px; }
          .trainers .list-container .list .item .details .description {
            margin-top: 35px; }
          .trainers .list-container .list .item .details .social-links {
            filter: brightness(50);
            position: absolute;
            bottom: 0;
            left: 0; }
            .trainers .list-container .list .item .details .social-links a {
              margin-right: 15px;
              display: inline-block; }
