.contacts
  margin-top: 8%
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3)
  font-family: Ubuntu
  position: relative
  z-index: 100

  #map
    background: #06112F
    height: 70vh
    padding: 0

  .text
    padding-left: 10%
    padding-top: 10%
    background-color: #fff

    .phone
      font-size: 1.6vw
      font-weight: bold
      margin-top: 10%

    .address,
    .schedule
      font-size: 1.1vw
      margin-bottom: 0

    .address
      padding-top: 8%

    .social-icons
      margin-top: 10%

      img
        margin: 10px