@import "../colors.sass"

.education-plan
  padding-top: 5%
  padding-bottom: 15%
  margin: 0 30px 30px
  width: calc(100% - 60px)
  background: $darkblue
  position: relative

  button
    position: absolute
    bottom: -2vw
    left: 17%

  H1
    width: 40%

  div
    padding: 0
    margin: 0

  .plan-container
    padding: 0 10%
    color: white
    font-weight: bold
    font-family: Ubuntu

    .padded-top
      padding-top: 3%

    .number
      font-size: 5vw

    .text
      padding-top: 5%
      font-size: 1.6vw
      line-height: 120%
      padding-right: 1%

      small
        font-size: 1vw
        line-height: 100%
        display: block