@import "../colors.sass"

.header
  background: $gray
  margin: 30px
  width: calc(100% - 60px)
  height: calc(100vh - 60px)

  .logo
    background: url('../images/logo.svg') no-repeat center
    background-size: contain
    height: 100px

  .contacts
    text-align: right
    padding-top: 20px

    .phone
      display: inline-block
      font-size: 1.8vw
      font-weight: bold
      padding-right: 10px

    .social-icon
      height: 30px
      margin: 0 5px
      position: relative
      top: -4px



  .menu
    .button
      height: 70px
      cursor: pointer