@import "../colors"

.recommended-by
  background: $gray
  margin-top: 7%
  padding-top: 7%

  .pic
    background: $pink
    height: 100%
    width: 70%
    margin-left: 15%

  .description
    width: 40%
    padding-top: 7%

  .about-person
    padding-top: 10%

    .name
      font-weight: bold
      font-size: 1.5vw

    .status
      font-size: 1vw

  .buttons
    padding-top: 7%
    padding-bottom: 14%

    .prev,
    .next
      width: 5vw
      height: 5vw
      display: inline-block
      margin: 1%
      background-size: contain
      background-position: center
      cursor: pointer

    .prev
      background-image: url("../../images/button_prev_big.svg")

    .next
      background-image: url("../../images/button_next_big.svg")
