@import "../colors.sass"

.target-audience
  padding: 9% 15px 15px 0

  .title-container
    padding-left: 9%

  .list
    margin-top: 10%
    margin-left: 15%

    @media (max-width: 768px)
      margin-left: 0

    .item
      padding: 20px 30px
      width: 70%
      margin-bottom: 0
      cursor: pointer
      transition: box-shadow 0.3s
      position: relative

      @media (max-width: 768px)
        width: 100%

      &::before
        content: "⯆"
        position: absolute
        right: 30px
        top: 20px
        font-size: 20px
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2))
        transition: all 0.3s


      &.active
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3)

        &::before
          transform: rotate(-60deg)
          filter: drop-shadow(-5px 0 5px rgba(0, 0, 0, 0.2))

        .details
          height: 100px  !important

          @media (max-width: 900px)
            height: auto !important

      .title
        font-weight: bold
        font-size: 1.5vw

        @media (max-width: 900px)
          font-size: 18px

      .details
        color: #333
        height: 0
        overflow: hidden
        transition: height 0.3s

  .image-container
    background: $gray
    padding: 0

    .container
      height: 90vh

    .image-row
      height: 90vh

      .image
        background: gray url('https://static1.squarespace.com/static/52dbd732e4b0ce276348c412/58eb6a511e5b6c098b91fd56/56a7de7eb2094382065948b0/1453842048003/SAMPLE_DSC_7185-771_v.1.00.jpg?format=750w') center
        background-size: cover
        height: 120%
        margin-top: 5%
