.trainers
  padding-top: 7%

  .list-container
    max-width: 100%
    overflow-x: scroll
    margin-bottom: 7%

    .list
      display: inline
      overflow: hidden
      white-space: nowrap

      .item
        display: inline-block
        height: 300px
        width: 200px
        background: #FF006D
        margin: 15px