body {
  font-family: Ubuntu; }

button {
  border: 0;
  background: url("/images/button.svg");
  width: 19vw;
  height: 4.49vw;
  background-size: contain;
  color: white;
  font-style: italic;
  text-transform: uppercase;
  text-align: left;
  padding: 3% 5%;
  font-weight: 500;
  font-size: 1.2vw;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4)); }

H1 {
  font-weight: bold; }
