@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Ubuntu&subset=cyrillic");
body {
  font-family: 'Roboto', sans-serif; }

H1 {
  font-weight: bold;
  font-size: 2vw; }

H1, H2, H3, H4, H5, H6 {
  font-family: Ubuntu; }

input, button {
  border: 0;
  outline: none !important;
  color: white; }

button {
  background: url("../images/button.svg") no-repeat;
  width: 19vw;
  height: 4.5vw;
  background-size: contain;
  font-style: italic;
  text-transform: uppercase;
  text-align: left;
  padding: 1.4vw 1.8vw;
  font-weight: 500;
  font-size: 1.2vw;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4));
  cursor: pointer; }

.slick-arrow {
  font-style: normal; }
  .slick-arrow:before {
    color: black; }
